<div id="container">
	<div id="inner">
		<h1>The best Social Network in the world is...</h1>

		<table id="results">
			<thead>
				<tr>
					<th>Language</th>
					<th>Votes</th>
				</tr>
			</thead>
			<tbody>
			<% @survey_entries.each do |o| %>
				<tr>
					<td><%= o['title'] %></td>
					<td><%= o['votes'] %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	
		<form action="/survey_entries" method="POST" id="survey_entries">
			<% SurveyEntry::FORM_OPTIONS.each do |o| %>
			<p><button name="choice" value="<%= o %>"><%= o %></button></p>
			<% end %>
		</form>
		
	</div>
</div>

<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script>
	Pusher.log = function( msg ) {
		if( window.console && window.console.log ) {
			window.console.log( msg );
		}
	};

	jQuery("#results").charts();
	
	jQuery(function () {
		//establish Pusher connection
		var pusher = new Pusher('<%= @app_key %>', { encrypted: true } );
		var myChannel = pusher.subscribe('survey-channel');
		// deal with new messages
		myChannel.bind('data-changed', function(data){
			updateResults(data)
		});

		$( '#survey_entries button' ).click( function(ev) {
			
			var value = $( ev.target || ev.srcElement ).attr( 'value' );
			$.ajax( {
				url: 'survey_entries',
				data: {
					choice: value
				},
				type: 'post'
			});

			return false;

		 } );
	});
	
	function updateResults(data){
		jQuery.noticeAdd({
			text: 'Results updated',
			stay: false
		});
	
		var tbody = jQuery("#results tbody");
		var html = "";
		for (var i=0; i < data.length; i++) {
			html += "<tr><td>" + data[i].title + "</td>" +
				 "<td>" + data[i].votes + "</td></tr>";
		}		
		tbody.html(html);
		jQuery(".chartscontainer").remove(); // remove old chart
		jQuery("#results").charts( { duration: 0 } ); // show updated chart
	}
</script>
